@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200&family=Oswald:wght@200&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



html,
body,
#__next {
  height: 100%;
  font-family: 'Barlow Condensed', sans-serif;
}

html{
  font-family: 'Barlow Condensed', sans-serif;
}

