@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200&family=Oswald:wght@200&display=swap');



html,
body,
#__next {
  height: 100%;
  font-family: 'Barlow Condensed', sans-serif;
}

html{
  font-family: 'Barlow Condensed', sans-serif;
  background: lightslategray;
}

.app{
  height: 100vh;
}

.tabs-btn:hover{
  cursor: pointer;
  background:lightblue;
}

.tabs-btn-is-active {
  background:lightblue;
  border: thin solid #ffffff;
  border-radius:10px;
}

.tabs-btn {
  text-decoration: none;
  color:black;
  background: lightgrey;
  border: thin solid #ffffff;
  border-radius:10px;
}


