@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200&family=Oswald:wght@200&display=swap');



html,
body,
#__next {
  height: 100%;
  font-family: 'Barlow Condensed', sans-serif;
}

html{
  font-family: 'Barlow Condensed', sans-serif;
  background: #f9f9f9;
}

.app{
  height: 100vh;
}

.container, .container-fluid{
  padding-left:0 !important;
  padding-right:0 !important;
}



.footer--pin {
  position: relative;
  left: 0;
  bottom: 0;
}

/* Header nav  */


.navbar {
  padding: 1em;
}

.navbar.navbar-expand-lg.navbar-dark.bg-dark{
  padding:15px;
}
.navbar-brand a{
  color:white;
  text-decoration: none;
  font-size:2em;
}

.navbar-brand a:hover{
  color:white;
}

#responsive-navbar-nav{
  font-size:1.5em;
}

nav ul{
  padding-left:0 !important;
}
nav ul li {
  list-style: none;
  text-align: center;
  padding-left:0;
}

nav a{
  text-decoration: none;
  color:black;
  font-size:1.25em;
}

/* Carousel */


.tabs-btn:hover{
  cursor: pointer;
  background:lightblue;
}

.tabs-btn-is-active {
  background:lightblue;
  border: thin solid #ffffff;
  border-radius:10px;
}

.tabs-btn {
  text-decoration: none;
  color:black;
  background: lightgrey;
  border: thin solid #ffffff;
  border-radius:10px;
}


